/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
.login-box{
    width: 360px;
}
.cursor{
    color: rgb(36, 77, 124);
    cursor: pointer;
    transition: 0.08s ease-in-out;
}
.cursor:hover{
    font-weight: bold;
}