#map { 
    height: 85vh; 
    position: relative;
}
.inca-qairito{
    height: 35px;
}
#ica_card{
    position: absolute;
    z-index: 900;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    bottom: 80px;
    left: 10px;
    box-shadow: 4px 6px 8px #888888;
}