<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Excel Data</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Formulario de registro</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="file" (change)="readExcel($event)" class="form-group">
                    </div>
                    <div class="col-md-6">
                        <input type="button" (click)="sendData()" class="btn btn-primary" value="Enviar datos">
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nombre de la estación</th>
                                    <th scope="col">Estado del dispositivo</th>
                                    <th scope="col">Moxido de carbono</th>
                                    <th scope="col">Dioxido de nitrogeno</th>
                                    <th scope="col">Ozono</th>
                                    <th scope="col">Sulfuro de hidrogeno</th>
                                    <th scope="col">Dioxido de azufre</th>
                                    <th scope="col">PM 25</th>
                                    <th scope="col">PM 10</th>
                                    <th scope="col">Coordenadas</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of ExcelData, let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <th>{{data.name}}</th>
                                    <th>{{data.state}}</th>
                                    <th>{{data.carbon_monoxide}}</th>
                                    <th>{{data.nitrogen_dioxide}}</th>
                                    <th>{{data.ozone}}</th>
                                    <th>{{data.hidrogen_sulfide}}</th>
                                    <th>{{data.sulfur_dioxide}}</th>
                                    <th>{{data.pm_25}}</th>
                                    <th>{{data.pm_10}}</th>
                                    <th>{{data.geometry}}</th>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="col-md-4">
                        <div id="map2"></div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</div>

