<div id="map"></div>


<div class="card col-sm-4" id="ica_card">
    <div class="card-header border-0">
        <h3 class="card-title">Índice de calidad del aire</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <select class="form-control">
            <option value="" selected>Ecuador</option>
        </select>
        <table class="table table-sm">
            <thead>
                <tr style="font-size: 12px;" class="text-center"> 
                    <th>Óptimo</th>
                    <th>Bueno</th>
                    <th>Precaución</th>
                    <th>Alerta</th>
                    <th>Alarma</th>
                    <th>Emergencia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td bgcolor="#f7f7f7"></td>
                    <td bgcolor="#008d3a"></td>
                    <td bgcolor="#8b8b8c"></td>
                    <td bgcolor="#f2c802"></td>
                    <td bgcolor="#ff9933"></td>
                    <td bgcolor="#ff0000"></td>
                </tr>
                <tr class="text-center">
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_buena.gif" 
                        alt="qairito-good">
                    </td>
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_buena.gif" 
                        alt="qairito-good">
                    </td>
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_mala.gif" 
                        alt="qairito-bad">
                    </td>
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_cuidado.gif" 
                        alt="qairito-hazardous">
                    </td>
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_cuidado.gif" 
                        alt="qairito-hazardous">
                    </td>
                    <td>
                        <img class="inca-qairito" 
                        src="https://qairamap.qairadrones.com/img/qairito_cuidado.gif" 
                        alt="qairito-hazardous">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>